body {
    overflow-x: hidden;
}
@font-face {
    font-family: "MonstroSolid";
    src: url("/fonts/MonstroSolid.ttf") format("truetype");
}

@font-face {
    font-family: "MyriadVariableConcept";
    src: url("/fonts/MyriadVariableConcept.ttf") format("truetype");
}


.myriad{
    font-family: "MyriadVariableConcept", sans-serif;
    font-weight: 300;
}

.monstro{
    font-family: "MonstroSolid", sans-serif;
}

h6 {
    font-family: "MonstroSolid", sans-serif;
    font-size: 20px;
}
.small_text{
    font-size: 12px;
    font-family: "MyriadVariableConcept", sans-serif;
}

.main_color {
    color: #22467d;
}

.second_color {
    color: #e2211c;
}
.container-fluid{
    padding: 0 !important;
}

.background_main_color {
    background-color: #fabe55;
}

.background_second_color {
    background-color: #FAF6EA;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #234780;
}


th {
    font-size: 14px;
}

.white_button {
    background-color: #fff;
    border-radius: 0;
    display: inline-block;
    padding: 10px 50px;
    color: #234780;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}
.white_button:hover {
    background-color: #234780;
    color: #fff;
}

.main_button {
    background-color: #e2211c;
    border-radius: 0;
    display: inline-block;
    padding: 10px 50px;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
}

.yellow_button {
    background-color: #fabe55;
    border-radius: 0;
    display: inline-block;
    padding: 10px 50px;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
}




.main_button:hover {
    background-color: #fff;
    color: #234780;
}

.hr_custom{
    border: 1px solid #fff;
}


.front-nav {
    background-color: #FAF6EA;
    color: #000;
}



/*Social Media Buttons */

.but-fac{
    display: block!important;
    width: 100% !important;
}
.button-facebook {
    display: flex;
    width: 100%;
    overflow: hidden;
    border-radius: 0px;
}

.button-facebook .icon {
    padding: 10px 20px;
    background-color: #142bb7;
    border-radius:  0px;
}

.button-facebook .text {
    padding: 10px;
    background-color: #ffffff;
    color:#234780;
    border-radius: 0px;
    min-width: 800px;
}

.button-facebook img {
    max-width: 20px;
    border-radius: 50%;
}

.button-google {
    display: flex;
    overflow: hidden;
    border-radius: 0px;
}

.button-google .icon {
    padding: 10px 20px;
    background-color: #db1d19;
    border-radius: 0px;
}

.button-google .text {
    padding: 10px;
    background-color: #ffffff;
    color:#234780;
    border-radius: 0px;
    min-width: 800px;
}

.button-google img {
    width: 20px;
    border-radius: 50%;
}

/*Social Media Buttons END*/

.navbar-brand{
    padding-left: 120px;
}


.navbar-brand img {
    width: 80px;
}

.navbar-nav {
    align-items: center;
}


.navbar .navbar-nav .nav-link {
    font-size: 1.1em;
    padding: 0.5em 1em;
    font-family: "MonstroSolid", sans-serif;
    color:#22467d;
}

.navbar-dark .navbar-nav .nav-link.active {
    color: #000;
}


@media screen and (min-width: 768px) {
    .navbar-brand img {
        width: 100px;
    }

    .navbar-brand {
        margin-right: 0;
        padding: 0 1em;
    }
}



.custom-input {
    border-radius: 0px;
    font-family: "MyriadVariableConcept", sans-serif;
    border: none;
    color: #234780;
}

.custom-check-input {
    border-radius: 0 !important;
}

.custom-check-input:checked {
    background-color: #234780;
}

.form-check-label {
    cursor: pointer;
}


.circle-my-account {
    background-color: #ffffff;
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.product-bottom {
    margin-top: 20px;
    padding: 15px;
    min-height: 144px;
}

.product-top {
    border-radius: 15px;
}

.product-image {
    border-radius: 15px;
}

.rounded-corners-table {
    background:#ff0000;
    padding:10px;
    border-radius:25px!important;
    margin:0 auto;
    color:#fff;
}

/*Transaction table*/
.custom-table {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-bottom: 10px;
}
.header-row,
.data-row {
    display: flex;
}
.header-cell,
.data-cell {
    padding: 10px;
    text-align: left;
    flex: 1;
}
.header-row{
    background:#3C5786;
    color:#fff;
    margin-bottom: 10px;
}
.data-row{
    background-color: #fff;
    margin-bottom: 10px;
}

.header-cell,
.data-cell {
   text-align: center;
}
/*Transaction table END*/


.active-link {
    border-bottom: 6px solid #C40503;
}

.footer-links{
    text-align: center;
    margin-top: 100px;
}


